
<div class="loading_animation" style="display:none;" >
  <%= image_tag('spinning_the_world.gif', :title => 'loading..') %>
  <h2>LOADING....</h2>
</div>

<div id="vmap" style="width: 960px; height: 500px;"></div>

<div class="search_bar">
  <%= form_tag("/pages", remote: true, method: 'get') do %>
    <%= text_field_tag(:keyword, 'Type Keyword For Searching')%>
    <%= button_tag("Search", class: 'btn_search') %>
  <% end %>
</div>

<div id='article_container'>
  <% @country_codes.each do |contry_code|%>
    <div id='<%=contry_code %>' style='display:none;'></div>
  <% end %>
</div>

<div id='btn_nav'>
  <a href="#" id="btn_top" title="Back to the Map" style="display:none;">TOP</a>
<!--   <%= link_to %> -->
</div>