<div id="vmap"></div>

<!-- CATEGORY MANAGEMENT CONTAINER -->
<div id="categories_container">
  <p>CATEGORIES</p>
  <%= form_tag '/categories', :method => 'post', :class => "ac-custom ac-checkbox ac-checkmark", :authocomplete => false do %>
    <ul>
      <% @categories.each do |cate|%>
      <li>
        <% if @current_user.categories.pluck(:id).include?(cate.id) %>

          <input id="<%= cate.api_id%>" name="pref_category[]" type="checkbox" value="<%= cate.api_id%>" checked="checked">

        <% else %>

          <input id="<%= cate.api_id%>" name="pref_category[]" type="checkbox" value="<%= cate.api_id%>">

        <% end %>

        <label id="<%= cate.api_id%>" class="pref_category_name"><%= cate.title %></label>
      </li>
      <% end %>
    </ul>
    <%= submit_tag "Submit", :class => 'btn_submit' %>
  <% end %>
</div>


