<div class="nav">
  <ul id="sdt_menu" class="sdt_menu">

    <li>
      <a href="/pages">
        <%= image_tag('spinning_earth.gif') %>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Home</span>
          <span class="sdt_descr">World Map News</span>
        </span>
      </a>
    </li>

    <li>
      <a href="#">
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">My News</span>
          <span class="sdt_descr">Find Your Interests</span>
        </span>
      </a>
      <div class="sdt_box">
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Sign In', login_path %>
      </div>
    </li>

    <li>
      <a href="#">
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Contact Us</span>
          <span class="sdt_descr">Welcome</span>
        </span>
      </a>
      <div class="sdt_box">
        <%= link_to 'World Map News', '#' %>
        <%= link_to 'Email', '#'%>
      </div>
    </li>
  </ul>

</div>