<div class="nav">
  <ul id="sdt_menu" class="sdt_menu">

    <li>
      <a href="#">
        <%= image_tag('spinning_earth.gif') %>
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">Home</span>
          <span class="sdt_descr">Welcome</span>
        </span>
      </a>
        <div class="sdt_box">
          <%= link_to 'My Account', user_path(@current_user) %>
          <%= link_to 'Sign Out', login_path, :data => {:method => :delete, :confirm => 'Really logout?'} %>
        </div>
    </li>

    <li>
      <a href="#">
        <span class="sdt_active"></span>
        <span class="sdt_wrap">
          <span class="sdt_link">My News</span>
          <span class="sdt_descr">Find Your Interests</span>
        </span>
      </a>
      <div class="sdt_box">
          <%= link_to 'Add My News', categories_path %>
          <%= link_to 'View My News Map', users_mynews_path %>
      </div>
    </li>

    <% if @current_user.try(:admin) %>
      <li>
        <a href="#">
          <span class="sdt_active"></span>
          <span class="sdt_wrap">
            <span class="sdt_link">Setting</span>
            <span class="sdt_descr">Web Managements</span>
          </span>
        </a>
          <div class="sdt_box">
            <%= link_to 'General Settings', '#' %>
            <%= link_to 'View Users', users_path %>
          </div>
      </li>
      <% else %>
     <li>
        <a href="#">
          <span class="sdt_active"></span>
          <span class="sdt_wrap">
            <span class="sdt_link">Contact Us</span>
            <span class="sdt_descr">World Map News</span>
          </span>
        </a>
        <div class="sdt_box">
          <%= link_to 'World Map News', pages_about_path %>
          <%= link_to 'Email', pages_contact_path %>
        </div>
      </li>
    <% end %>
  </ul>
</div>