<!DOCTYPE html>
<html>
  <head>
    <title>WorldMapNews</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="nav_container">
      <a href='/' title='World Map'>
        <h1 id="world_map_news"><span class='title_letter'>W</span>ORLD <span class='title_letter'>M</span>AP <span class='title_letter'>N</span>EWS</h1>
    </a>
    <% if @current_user %>
      <%= render :partial => 'layouts/usernav' %>
    <% else %>
      <%= render :partial => 'layouts/nav' %>
    <% end %>
    </div>

    <div id="blank"></div>

    <div id="body_container" class="<%= params[:controller] %>-<%= params[:action] %>">

      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
